body {
  background-color: rgb(116, 116, 116);
}

body.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background: #446880;
  color: #fff;
  font-family: 'Merriweather Sans', sans;
}

.header__container {
  position: relative;
  left: 0;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
}
.menu {
}
.menu__icon {
  display: none;
}

.menu__body {
  padding-top: 0 !important;
}

.menu__list {
}
.menu__list > li {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.menu__link {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: 0;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background: #446880;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li {
  margin-bottom: 10px;
}

.menu__sub-list li:last-child {
  margin-bottom: 0;
}

.menu__sub-link {
  color: #fff;
  text-decoration: none;
}

.menu__arrow {
  display: block;
  margin-left: 10px;
}

/* @media screen and (min-width: 782px) {
  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

   
} */

@media screen and (max-width: 782px) {
  .menu__icon {
    z-index: 7;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    padding: 16px 20px;
  }

  .menu__list > li.active {
    background: #d8770e;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    max-width: 290px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    z-index: 5;
    background: #446880;
  }

  .menu__body::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: 0;
    width: 3%;
    height: 100%;
    box-shadow: -7px 0px 6px -2px rgba(0, 0, 0, 0.212) inset;
    z-index: 10;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__arrow {
    margin: 0 10px 0 0;
  }

  .menu__list > li {
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 17px;
  }

  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    _display: none;
    max-height: 0;
    padding: 10px 0 0;
    opacity: 0;
    transition: opacity 0.3s, max-height 0.3s;
  }

  .menu__sub-list--active {
    opacity: 1;
    _display: block;
    max-height: 200px;
  }

  .menu__sub-link {
    display: inline-block;
    padding: 0px 25px;
    margin: 5px 0;
  }
}

@media screen and (max-width: 474px) {
  .menu__body {
    max-width: 320px;
  }
}
@media screen and (max-width: 374px) {
  .menu__body {
    max-width: 305px;
  }
}
@media screen and (max-width: 348px) {
  .menu__body {
    max-width: 265px;
  }
}
@media screen and (max-width: 314px) {
  .menu__body {
    max-width: 230px;
  }
}
