* {
  box-sizing: border-box;
}

body.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
}

.header__container {
  position: relative;
  left: 0;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: end;
}

.header__container--desktop {
  min-height: 28.8px;
  padding-right: 15px;
  background: #446880;
}
.header__container--secondary {
  justify-content: center;
  padding: 25px 35px 4px 35px;
}

.header__logo {
  position: relative;
  z-index: 5;
  object-fit: contain;
  margin-right: 45px;
}

.menu__icon {
  display: none;
}

.menu__body {
  padding-top: 0 !important;
}

.menu__list {
  display: flex;
}

.menu__list > .menu__item {
  display: flex;
  align-items: center;
  position: relative;
}

.menu__link {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: 0;
}

.menu__sub-list {
  visibility: hidden;
  position: absolute;
  top: 700%;
  right: 0;
  background: #446880;
  padding: 15px;
  min-width: 200px;
  opacity: 0;
  transition: top 0.3s ease 0s, opacity 0.8s ease 0s;
  box-shadow: 1px 0px 15px -1px rgba(0, 0, 0, 0.185);
}

.menu__sub-list li {
  margin-bottom: 10px;
}

.menu__sub-list li:last-child {
  margin-bottom: 0;
}

.menu__sub-link {
  color: #fff;
  text-decoration: none;
}

.menu__arrow {
  display: block;
  margin-left: 10px;
}

.menu__form--mobile {
  display: none;
}

.menu__list > .menu__item--mobile {
  display: none;
}

.menu__item .menu__icon--desktop {
  display: block;
}

.header__logo--mobile {
  display: none;
}

.menu__item--desktop.menu__item--primary .menu__link {
  font-size: 11px;
  padding: 5px 10px 0;
}

.menu__icon--desktop .menu__icon-search {
  font-size: 11px;
  padding: 5px 10px 0;
}

.menu__list-primary {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__nav-secondary .menu__list {
  justify-content: center;
  align-items: center;
}

.menu__item--secondary {
  padding-right: 15px;
}

.menu__item--secondary:last-of-type {
  padding-right: 0;
}

.header__nav-secondary .menu__link {
  padding: 10px 5px;
}

.header__nav-secondary .menu__link:first-of-type {
  padding-left: 0;
}

.menu__item--secondary .menu__link,
.menu__item--secondary .menu__arrow {
  color: #000;
  margin-left: 0;
}

.menu__item--secondary .menu__arrow {
  font-size: 10px;
}

.menu__item--secondary.active .menu__sub-list {
  display: flex;
  flex-direction: column;
  max-width: 195px;
  background-color: #fff;
  right: auto;
  visibility: visible;
  opacity: 1;
  top: 110%;
}

.menu__list .menu__item--secondary a {
  font-weight: 700;
  font-size: 14px;
}

.menu__item--secondary.active .menu__sub-list li a {
  color: #446880;
  font-weight: 600;
}

.menu__item--secondary.active .menu__sub-list li {
  margin-bottom: 20px;
}

.menu__item--secondary.active .menu__sub-list li:last-of-type {
  margin-bottom: 0;
}

.menu__form--desktop {
  display: none;
  position: absolute;
  right: 0%;
  top: 96%;
  width: 162px;
  height: 50px;
}

.menu__form--desktop .menu__search {
  position: absolute;
  padding: 14px 10px;
  width: 162px;
  outline: none;
  border: none;
  z-index: 10;
}

.menu__form.menu__form--desktop.menu__form--active {
  display: block;
}

.menu__form {
  box-shadow: 1px 0px 15px -1px rgba(0, 0, 0, 0.185);
}
.menu__icon-search {
  cursor: pointer;
}

.menu__item--primary:hover {
  background: #d8770e;
}

.menu__item--primary {
  padding: 5px 10px;
}

@media screen and (max-width: 958px) {
  .header {
    background: #446880;
  }

  .header__container {
    justify-content: space-between;
    min-height: 50px;
  }

  .header__container--secondary {
    display: none;
  }

  .menu__list-primary {
    display: none;
  }

  .menu__list > .menu__item--mobile {
    display: flex;
  }
  .menu__list > .menu__item--desktop {
    display: none;
  }

  .header__logo--mobile {
    display: block;
  }

  .menu__icon {
    z-index: 7;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    padding: 16px 20px;
  }

  .menu__list > li.active {
    background: #d8770e;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    max-width: 290px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    z-index: 5;
    background: #446880;
  }

  .menu__body::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: 0;
    width: 3%;
    height: 100%;
    box-shadow: -7px 0px 6px -2px rgba(0, 0, 0, 0.212) inset;
    z-index: 10;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__arrow {
    margin: 0 10px 0 0;
  }

  .menu__list {
    display: block;
  }

  .menu__list > li {
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 17px;
  }

  .menu__sub-list {
    display: block;
    position: relative;
    flex: 1 1 100%;
    _display: none;
    max-height: 0;
    padding: 10px 0 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, max-height 0.5s;
    box-shadow: none;
  }

  .menu__list li.active .menu__sub-list {
    opacity: 1;
    _display: block;
    visibility: visible;
    max-height: 400px;
  }

  li.active .menu__arrow i {
    transform: rotate(180deg);
  }

  .menu__sub-link {
    display: inline-block;
    padding: 0px 25px;
    margin: 5px 0;
  }

  .menu__icon--search {
    margin-right: 10px;
  }

  .menu__form {
    display: flex;
    position: absolute;
    width: 500px;
    bottom: -150%;
    right: 0;
    display: none;
    border: none;
  }

  .menu__form--active {
    display: flex;
  }

  .menu__search {
    width: 100%;
    max-height: 75px;
    padding: 24px 40px;
    font-size: 20px;
    border: none;
    box-shadow: 1px 0px 15px -1px rgba(0, 0, 0, 0.185);
  }

  .menu__search::placeholder {
    font-size: 20px;
  }
}

@media screen and (max-width: 474px) {
  .menu__body {
    max-width: 320px;
  }
}
@media screen and (max-width: 374px) {
  .menu__body {
    max-width: 305px;
  }
}
@media screen and (max-width: 348px) {
  .menu__body {
    max-width: 265px;
  }
}
@media screen and (max-width: 314px) {
  .menu__body {
    max-width: 230px;
  }
}

.fa-mr {
  margin-right: 20px;
}
